@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@300&display=swap');
body{
    background-color: #525292;
}
h1{
    text-align: center;
    position: relative;
    left: 50%;
    top: 40px;
    transform: translate(-50%,-50%);
    font-family:'Poppins', sans-serif;
    font-size: 26pt;
    color: #fff;
}
h2{
    text-align: center;
    position: relative;
    left: 50%;
    top: 10%;
    transform: translate(-50%,-50%);
    font-family:'Big Shoulders Stencil Display', cursive;
    font-size: 17pt;
    color: #fff;
}
form{
    background-color:#26263e ;
    max-width: 700px;
    width:70%;
    padding: 40px;
    position: relative;
    left: 50%;
    top: 700px;
    transform: translate(-50%,-50%);
}
label{
    font-family:'Poppins', sans-serif;
    font-size: 14pt;
    color: #fff;
    display: flex;
    margin-bottom: -12px;
}
legend{
    font-family:'Poppins', sans-serif;
    color: #fff;
}
input.d_pessoais{
    max-width: 700px;
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 20px;
    position:relative;
    left: 50%;
    top: 20px;
    transform: translate(-50%,-50%);
}
input.d_pessoais::placeholder{
    font-size: 12pt;
    position: relative;
    margin-top: 5px;
    margin-left: 3px;
    left: 50%;
    top: 15px;
    transform: translate(-50%,-50%);
}
select.b_selecionar{
   position: relative;
   max-width: 700px;
   width: 100%;
   padding-bottom: 15px;
   margin-bottom: 20px;
   left: 50%;
   top: 15px;
   transform: translate(-50%,-50%);
}
option{
    display: block;
    position: relative;
    
}